<div class="block">
	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>
		<h2><%=t('user.update_password')%></h2>
	</div>
	<div class="block_content">
		<div class="message errormsg">
			<p></p>
		</div>
		<%= form_tag update_password_user_path session[:user] %>
		<input type="hidden" id="userId" value="<%=session[:user][:id] %>">
		<p>
			<%= label_tag t('user.current_password')+":" %>
			<br/>
			<%= password_field_tag :current_pwd,nil,:class=>'text small' %>
		</p>
		<p>
			<%= label_tag t('user.new_password')+":" %>
			<br/>
			<%= password_field_tag :new_pwd,nil,:class=>'text small' %>
		</p>
		<p>
			<%= label_tag t('user.password_confirmation')+":" %>
			<br/>
			<%= password_field_tag :password_confirmation,nil,:class=>'text small' %>
		</p>
		<p>
			<%= submit_tag t('global.submit'),:class=>'submit mid' %>
		</p>
		</form>
	</div>
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>
<%= javascript_include_tag "licensemanager/users/update_password" %>