<h1>Listing system_configs</h1>

<table>
  <tr>
    <th>Site name</th>
    <th>License path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_configs.each do |system_config| %>
  <tr>
    <td><%= system_config.site_name %></td>
    <td><%= system_config.license_path %></td>
    <td><%= link_to 'Show', system_config %></td>
    <td><%= link_to 'Edit', edit_system_config_path(system_config) %></td>
    <td><%= link_to 'Destroy', system_config, :confirm => 'Are you sure?', :method=> :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New System config', new_system_config_path %>
