<div class="block">

	<div class="block_head">
		<div class="bheadl"></div>
		<div class="bheadr"></div>

		<h2><%= t "system_config.edit" %></h2>
		<ul>
			<li class="nobg">
				<%= link_to t('global.back'), licenses_path %>
			</li>
		</ul>
	</div>
	<div class="block_content">
		<div class="message success"><p><%= notice %></p></div>
		<!-- .block_head ends -->
		<p>
		  <b><%= t "system_config.system_name" %>:</b>
		  <%= @system_config.site_name %>
		</p>
		
		<p>
		  <b><%= t "system_config.license_path" %>:</b>
		  <%= @system_config.license_path %>
		</p>
		
	</div>

	<!-- .block_content ends -->

	<div class="bendl"></div>
	<div class="bendr"></div>

</div>
